.sign-up {
  width: 384px;
  background-color: #fff;
  min-height: 374px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  padding: 48px 32px;
  margin-top: 60px;
  margin-bottom: 180px;
  justify-self: center;
  display: flex;
  flex-direction: column;
  gap: 21px;
  box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.0274509804);
  color: #262626;
  font-family: 'Roboto', sans-serif;
}
.sign-up p {
  margin: 0;
}
.sign-up h2 {
  margin: 0;
  font-family: 'Roboto-S', sans-serif;
  font-size: 20px;
  text-align: center;
}
.sign-up__data {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.sign-up__label {
  font-size: 14px;
  line-height: 22px;
}
.sign-up__footer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.sign-up__link {
  color: #1890ff;
}
.sign-up__footer--text {
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}
.sign-up__button {
  height: 40px;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 16px;
  background-color: #1890ff;
  border-radius: 4px;
  color: #fff;
}
.sign-up__agree {
  border-top: 1px solid #e8e8e8;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
}
.sign-up__agree-wrapper {
  display: flex;
  gap: 10px;
}
.sign-up__agree--text {
  margin-top: 6px;
}
.sign-up__checkbox {
  margin-top: 8px;
}
