.edit-article {
  background-color: #fff;
  width: 938px;
  justify-self: center;
  margin: 26px 0 162px 0;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  box-shadow: 0 0 7px 5px #00000007;
  padding: 48px 32px;
  display: flex;
  flex-direction: column;
  gap: 21px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #262626;

  p{
	margin: 0;
  }

  &__tag-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  h2 {
    text-align: center;
    font-family: 'Roboto-S', sans-serif;
    font-size: 20px;
	 margin: 0;
  }

  &__title,
  &__description,
  &__tags,
  &__text {
    display: flex;
    flex-direction: column;
  }

  &__title {
  }

  &__description {
  }

  &__input {
  }

  &__text--textarea {
    resize: none !important;
    min-height: 168px !important;
    border: 1px solid #d9d9d9;
    padding: 7px 12px;
    border-radius: 5px;
    font-size: 14px;
    line-height: 24px;
  }

  &__tag--input {
    width: 300px !important;
  }

  &__tag {
    display: flex;
    gap: 8px;
    font-size: 16px;
    line-height: 24px;
  }

  &__tag--delete {
    width: 118px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #f5222d;
    border-radius: 4px;
    color: #f5222d;
	 transition: 0.5s;
  &:hover {
	transform: scale(0.9);
  }
  }

  &__tag--add {
    width: 118px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #1890ff;
    border-radius: 4px;
    color: #1890ff;
	 transition: 0.5s;
  &:hover {
	transform: scale(0.9);
  }
  }

  &__tags {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__button {
    width: 319px;
    height: 40px;
    border-radius: 4px;
    padding: 8px 16px;
    background-color: #1890ff;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    line-height: 24px;
	 transition: 0.5s;
  &:hover {
	transform: scale(0.9);
  }
  }
}
