.article {
  margin: 26px auto 64px auto;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 16px;
  width: 938px;
  background-color: #fff;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);

  &__text {
  		word-wrap: break-word;
  }

  &__change {
    display: flex;
    gap: 12px;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 14px;
    line-height: 22px;
  }

  &__change-delete {
    width: 78px;
    height: 31.1px;
    border: 1px solid #f5222d;
    color: #f5222d;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    &:hover {
      transform: scale(0.9);
    }
  }

  &__change-edit {
    width: 65.23px;
    height: 31.1px;
    border: 1px solid #52c41a;
    color: #52c41a;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    &:hover {
      transform: scale(0.9);
    }
  }

  &__profile {
    text-align: right;
  }

  @media (max-width: 957px) {
    width: 650px;

    .article__left {
      width: 450px;
    }
  }

  @media (max-width: 662px) {
    width: 330px;
    padding: 10px 11px;
    gap: 15px;

    &__change {
      font-size: 11px;
    }

    &__text {
      font-size: 12px;
    }

    .article__header {
      min-height: 70px;
    }

    &__poptext {
      font-size: 10px;
    }

    &__change-delete {
      width: 50px;
      height: 20px;
      font-size: 11px;
    }

    &__change-edit {
      width: 50px;
      height: 20px;
    }
    .article__left {
      width: 200px;
    }

    .article__title {
      gap: 9px;
      font-size: 14px;
      line-height: 22px;
    }

    .article__description {
      word-break: break-all;
      font-size: 11px;
      line-height: 16px;
    }

    .article__avatar {
      width: 40px;
      height: 40px;
    }

    .article__tag {
      font-size: 8px;
    }

    .article__profile {
      font-size: 12px;
      display: flex;
      flex-direction: column;
    }

    .article__date {
      margin-top: -8px;
      font-size: 9px;
    }
  }
}

.article__header {
  min-height: 100px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.article__left {
  width: 682px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.article__title {
  display: flex;
  align-items: center;
  gap: 13px;
  font-size: 20px;
  line-height: 28px;
  color: #1890ff;
}

.article__like--button {
  width: 16px;
  height: 16px;
  background: url('../../../assets/heart.svg') no-repeat center center;
  transition: 0.5s;
  &:hover {
    transform: scale(0.9);
  }
}

.article__liked--button {
  width: 16px;
  height: 16px;
  background: url('../../../assets/liked.svg') no-repeat center center;
  transition: 0.5s;
  &:hover {
    transform: scale(0.9);
  }
}

.article__tags {
  display: flex;
  gap: 7px;
}

.article__tag {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 3px 4px;
  border-radius: 2px;
  font-size: 12px;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.5);
}

.article__right {
  display: flex;
  gap: 12px;
  color: rgba(0, 0, 0, 0.85);
}

.article__like {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.75);
}

.article__description {
  font-size: 12px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.75);
}

.article__date {
  font-size: 12px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.5);
}

.article__avatar {
  width: 46px;
  height: 46px;
  border-radius: 50%;
}
